body { /* Normal  */
   font-size: 16px;
}
td {  /* Table  */
   font-size: 16px;
}
h1 { /* Header 1 */
 font-size: 32px;
 color: DarkBlue;
}
h2 { /* Header 2 */
 font-size: 30px;
 color: DarkBlue;
}
h3 { /* Header 3 */
 font-size: 28px;
 color: DarkBlue;
}
code { /* Code block */
  font-size: 16px;
  color: DarkBlue;
}
pre { /* Code block */
  font-size: 16px;
  color: DarkBlue;
}